  #app {
      font-family: Avenir, Helvetica, Arial, sans-serif !important;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: #2c3e50;
  }

  #nav {
      padding: 30px;

      a {
          font-weight: bold;
          color: #2c3e50;

          &.router-link-exact-active {
              color: #42b983;
          }
      }

      .fade-enter-active,
      .fade-leave-active {
          transition-duration: .3s;
          transition-property: opacity;
          transition-property: height, opacity;
          transition-timing-function: ease;
          overflow: hidden;
      }

      .fade-enter,
      .fade-leave-active {
          opacity: 0
      }
  }

  .slide-left-enter-active,
  .slide-left-leave-active,
  .slide-right-enter-active,
  .slide-right-leave-active {
      transition-duration: .4s;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
      overflow: hidden;
  }

  .slide-left-enter,
  .slide-right-leave-active {
      opacity: 0;
      transform: translate(2em, 0);
  }

  .slide-left-leave-active,
  .slide-right-enter {
      opacity: 0;
      transform: translate(-2em, 0);
  }

  .hoverable {
      cursor: pointer;
  }

  .hoverable:hover,
  .active {
      background: #ECEFF1 !important;
  }

  .active {
      border: thin solid rgba(0, 0, 0, 0.12) !important;
      box-shadow: none;
  }

  .bold {
      font-weight: bold !important;
  }


  // CSS DE INVENTARIO

  a {
      text-decoration: none;
  }

  .charts {
      margin-top: 74px;
  }

  .v-data-table__mobile-row__cell {
      color: #0d47a1;
      font-weight: 500;
  }

  .absolute-center {
      margin-top: 8px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: calc(100% - 16px);

      @media screen and (max-width: 480px) {
          display: none;
      }
  }

  .primary {
      background-color: #1867c0 !important;
      border-color: #1867c0 !important;
  }

  thead.v-data-table-header-mobile {
      display: none;
  }

  .loadState {
      z-index: 0;
      position: relative;

      @media screen and (max-width: 600px) {
          margin-top: -25px !important;
          width: 100% !important;
      }

      @media screen and (min-width: 600px) and (max-width: 960px) {
          margin-top: -35px;
          width: 70% !important;
      }

      @media screen and (min-width:960px) {
          margin-top: -45px;
          width: 60% !important;
      }
  }

  .v-dialog:not(.v-dialog--fullscreen) {

      width: auto;

      @media screen and (max-width: 600px) {
          width: 300px !important;
      }

      @media screen and (min-width: 600px) and (max-width: 1904px) {
          width: 450px !important;
      }

      @media screen and (min-width: 1904px) {
          width: 700px !important;
      }
  }

  .bounce-enter-active {
      animation: bounce-in .5s;
  }

  .bounce-leave-active {
      animation: bounce-out .5s;
  }

  @keyframes bounce-in {
      0% {
          transform: scale(0);
      }

      25% {
          transform: scale(1);
      }

      50% {
          transform: scale(1.5);
      }

      75% {
          transform: scale(1);
      }

      100% {
          transform: scale(1);
      }
  }

  @keyframes bounce-out {
      0% {
          transform: scale(1);
      }

      25% {
          transform: scale(1.25);
      }

      50% {
          transform: scale(1.5);
      }

      75% {
          transform: scale(.75);
      }

      100% {
          transform: scale(0);
      }
  }